.projects{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    z-index: 1;
    opacity: 0;
    transition: 1s ease-in-out forwards;
    .title{
        margin-top: 340px;
        z-index: 5;
        h1{
            color: white;
            margin-left: 72px;
        }
    }
    .list-project{
        width: 100%;
        z-index: 4;
        height: 100%;
        margin-top: -80px;
        .project{
            width: 100%;
            height: 628px;
            cursor: pointer;
            color: white;
            display: flex;
            justify-content: left;
            align-items: center;
            background-position: center;
            background-size: 100%;
            transition: 0.5s;
            &:hover{
                background-size: 110%;
                .text{
                    display: flex;
                }
            }
            .text{
                display: none;
                animation: fade-in 1s ease-in-out forwards;
                flex-direction: column;
                margin-left: 72px;
                h3{
                    font-size: 79.452px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .stream{
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    text-align: center;
                    font-family: var(--font-secondary);
                    p{
                        font-size: 24px;
                        font-style: normal;
                        line-height: normal;
                    }
                    .bold{
                        font-weight: 700;
                    }
                    .line{
                        margin-left: 20px;
                        margin-right: 20px;
                        width: 1px;
                        height: 20px;
                        background-color: white;
                    }
                }
            }
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}