.projects {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    color: white;
    overflow: hidden;
    z-index: 2;

    h2 {
        font-size: 252px;
        z-index: 2;
        margin-bottom: -27%;
        margin-right: 40%;
        transition: 0.5s;
        pointer-events: none;
        &.hover{
            font-size: 100px;
            margin-right: 78%;
            margin-bottom: 18.5%;
        }
    }
    .arrow{
        position: absolute;
        z-index: 3;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: end;
        pointer-events: none;
        svg{
            margin-top: 10px;
        }
    }

    .slide {
        width: 925.526px;
        height: 520.608px;
        margin-left: 35%;
        margin-top: 20%;
        margin-bottom: 1.3%;
        overflow: visible;
        cursor: pointer;
        transition: 0.5s;
        
        &:hover {
            width: 1244.444px;
            height: 700px;
            margin-left: 20%;
            margin-top: -20%;
        }

        
        .slide-item {
            width: 90%;
            height: 90%;
            margin-left: -27%;

            .image{
                position: absolute;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 30% 0 30% 0;
                transition: 0.5s;
            }

            .info {
                display: none;
                flex-direction: column;
                width: 100%;
                height: 100%;
                padding: 5%;
                margin-top: 35%;
                
                h3 {
                    font-size: 64px;
                    line-height: 80px;
                    animation: fade-in 1s ease-in-out forwards;
                }

                h4 {
                    font-size: 32px;
                    animation: fade-in 1s ease-in-out forwards;
                }

                .stream {
                    font-weight: bolder;
                }

                .subtitle {
                    display: flex;

                    .line {
                        margin-left: 20px;
                        margin-right: 20px;
                        width: 3px;
                        height: 32px;
                        background-color: white;
                        animation: fade-in 1s ease-in-out forwards;
                    }
                }
            }

            &:hover {
                .info{
                    display: flex;

                }
                img{
                    border-radius: 17% 0 17% 0;
                    z-index: 1;
                }
            }
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}