.project {
    cursor: pointer;
    color: white;
    display: flex;
    align-items: end;
    border-radius: 50px;
    transition: 1s ease-in;
    overflow: hidden;
    position: relative;

    &:hover {
        .project-img{
            scale: 1.2;
            video{
                z-index: 2;
            }
        }
        .text {
            display: flex;
        }
    }
    
    .project-img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: 1s ease-in;
        video, img{
            position: absolute;
            width: 100%;
            height: 120%;
            object-fit: cover;
            object-position: center;
            transition: transform 0s ease-in-out;
        }
        img{
            z-index: 1;
        }
        video{
            z-index: 0;
        }
    }

    .text {
        display: none;
        pointer-events: none;
        animation: fade-in 1s ease-in-out forwards;
        flex-direction: column;
        margin-left: 40px;
        margin-bottom: 50px;

        h3 {
            font-size: 44.42px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            animation: move-project-text 0.5s ease-in-out;
        }

        .stream {
            display: flex;
            justify-content: left;
            align-items: center;
            text-align: center;
            font-family: var(--font-secondary);

            p {
                font-size: 21px;
                font-style: normal;
                line-height: normal;
                animation: move-project-text 0.7s ease-in-out;
            }

            .bold {
                font-weight: 700;
                animation: move-project-text 0.9s ease-in-out;
            }

            .line {
                margin-left: 20px;
                margin-right: 20px;
                width: 1px;
                height: 20px;
                background-color: white;
                animation: move-project-text 0.8s ease-in-out;
            }
        }
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes move-project-text {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(0px);
    }
}