.brandlab {
    width: 100%;
    height: 100vh;
    margin-top: 900px;
    margin-bottom: 800px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    z-index: 3;
    align-items: center;
    pointer-events: none;

    .brandlab-background {
        background-color: var(--bg-color-secondary);
        overflow-x: hidden;
        border-radius: 100%;
        width: 2990px;
        height: 2398px;
        animation: grow 1s ease-in-out forwards;
        display: flex;
        justify-content: center;
        align-items: end;
        z-index: 3;
        position: absolute;
        pointer-events: none;

        .brandlab-circle {
            background-color: var(--bg-color-primary);
            border-radius: 100%;
            margin-bottom: 10%;
            width: 1749px;
            height: 1649px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 4px 94px 10px rgba(0, 0, 0, 0.50);
        }
    }

    .brandlab-circle-center {
        width: 1006px;
        height: 1006px;
        border-radius: 100%;
        border: 1px solid white;
        margin-bottom: 15vh;
        position: absolute;
        box-shadow: 0px 4px 94px 10px rgba(0, 0, 0, 0.50);
        z-index: 4;
        animation: grow 1s ease-in-out forwards;
        margin-top: 40vh;
    }

    #brandlab {
        position: absolute;
        width: 100px;
        height: 100px;
        margin-top: -180vh;
        pointer-events: none;
    }

    .front {
        width: 100%;
        height: 100%;
        z-index: 4;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 90vh;
        color: white;

        .texts {
            z-index: 2;
            margin-right: 40vw;
            margin-top: 100px;

            p {
                max-width: 900px;
                margin-right: 50px;
            }

            h3 {
                margin-top: 30px;
                font-family: var(--font-secondary);
                font-weight: 700;
                font-size: 25px;
                line-height: 39px;
                max-width: 709px;
            }
        }

        .brandlab-video {
            width: 886px;
            height: 886px;
            position: absolute;
            margin-left: 48vw;
            margin-top: 5vh;
            z-index: 1;

            .video-circle {
                width: 892px;
                height: 892px;
                border-radius: 100%;
                border: 1px solid var(--bg-color-primary);
                z-index: 1;
                position: absolute;
                margin-left: -5%;
                box-shadow: 0px 4px 94px 10px rgba(0, 0, 0, 0.50);
            }

            video {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                object-fit: cover;
                object-position: center;
                z-index: 0;
            }
        }
    }
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@media (max-width: 1600px) and (max-height: 900px) {
    .brandlab {
        margin-top: 800px;
        margin-bottom: 700px;
        .brandlab-background {
            width: 2590px;
            height: 1998px;
    
            .brandlab-circle {
                width: 1549px;
                height: 1449px;
            }
        }
        .brandlab-circle-center {
            width: 806px;
            height: 806px;
        }
        .front {
            .texts{
                margin-right: 35vw;
            }
            .brandlab-video {
                width: 750px;
                height: 750px;

                .video-circle {
                    width: 762px;
                    height: 762px;
                }
            }
        }
    }
}
@media (max-width: 1500px){
    .brandlab {
        .brandlab-background {
            width: 2100px;
            height: 2100px;
    
            .brandlab-circle {
                width: 1380px;
                height: 1380px;
            }
        }
        .front {
            .texts{
                margin-right: 45vh;
            }
            .brandlab-video {
                width: 750px;
                height: 750px;

                .video-circle {
                    width: 762px;
                    height: 762px;
                }
            }
        }
    }
}
@media (max-width: 1400px) and (max-height: 900px){
    .brandlab{
        margin-bottom: 700px;
        .brandlab-background {
            width: 1876px;
            height: 1876px;
    
            .brandlab-circle {
                width: 1300px;
                height: 1300px;
            }
        }
        .front {
            margin-bottom: 100vh;
        }
    }
}
@media (max-width: 1500px) and (min-height: 1000px) {
    .brandlab {
        .brandlab-circle-center {
            width: 706px;
            height: 706px;
        }
        .brandlab-background {
            width: 2500px;
            height: 2500px;
    
            .brandlab-circle {
                width: 1380px;
                height: 1380px;
                margin-bottom: 50vh;
            }
        }
        .front{
            .text{
                margin-right: 50vw;
            }
        }
    }
}
@media (max-width: 1400px) and (min-height: 990px){
    .brandlab {
        margin-top: 800px;
        margin-bottom: 800px;
        .brandlab-background {
            width: 1900px;
            height: 1900px;
    
            .brandlab-circle {
                width: 1300px;
                height: 1300px;
            }
        }
        .front {
            .texts{
                margin-right: 80vh;
                p{
                    font-size: 20px;
                    width: 520px;
                }
                h3 {
                    font-size: 23px;
                    width: 609px;
                }
            }
            .brandlab-video {
                width: 650px;
                height: 650px;
                margin-left: 42vw;

                .video-circle {
                    width: 632px;
                    height: 632px;
                }
            }
        }
    }
}

@media (max-width: 1300px){
    .brandlab {
        .brandlab-circle-center {
            width: 706px;
            height: 706px;
        }
        .front {
            .texts{
                margin-right: 43vw;
                p{
                    font-size: 20px;
                    width: 520px;
                }
                h3 {
                    font-size: 23px;
                    width: 609px;
                }
            }
            .brandlab-video {
                width: 650px;
                height: 650px;
                margin-left: 42vw;

                .video-circle {
                    width: 632px;
                    height: 632px;
                }
            }
        }
    }
}
@media (max-width: 1370px) and (min-height: 910px){
    .brandlab {
        .front {
            .texts{
                margin-right: 20vw;
            }
        }
    }
}

@media (max-height: 760px){
    .brandlab{
        margin-bottom: 900px;
    }
}
