.brandlab{
    width: 100%;
    height: 100vh;
    margin-top: 1200px;
    margin-bottom: 1000px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    pointer-events: none;
    align-items: center;
    .brandlab-background{
        background-color: var(--bg-color-secondary);
        overflow-x: hidden;
        border-radius: 100%;
        width: 2933px;
        height: 2933px;
        animation: grow 1s ease-in-out forwards;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: end;
        position: absolute;
        .brandlab-circle{
            background-color: var(--bg-color-primary);
            border-radius: 100%;
            margin-bottom: 10%;
            width: 1849px;
            height: 1849px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 4px 94px 10px rgba(0, 0, 0, 0.50);
            .brandlab-circle-center{
                display: flex;
                width: 1106px;
                height: 1106px;
                border-radius: 100%;
                border: 1px solid white;
                margin-bottom: 10%;
                position: absolute;
                box-shadow: 0px 4px 94px 10px rgba(0, 0, 0, 0.50);
                z-index: 4;
            }
        }
    }
    #brandlab{
        position: absolute;
        width: 100px;
        height: 100px;
        margin-top: -180vh;
        pointer-events: none;
    }
    .front{
        width: 100%;
        height: 100%;
        z-index: 4;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40%;
        color: white;

        .texts{
            z-index: 2;
            p{
                max-width: 790px;
                margin-right: 50px;
            }
            h3{
                margin-top: 30px;
                font-family: var(--font-secondary);
                font-weight: 700;
                font-size: 25px;
                line-height: 39px;
                max-width: 709px;
            }
        }
        .brandlab-video{
            width: 886px;
            height: 886px;
            margin-left: -80px;
            z-index: 1;
            .video-circle{
                width: 1106px;
                height: 1106px;
                border-radius: 100%;
                border: 1px solid var(--bg-color-primary);
                z-index: 1;
                position: absolute;
                margin-left: -12%;
                box-shadow: 0px 4px 94px 10px rgba(0, 0, 0, 0.50);
            }
            video{
                width: 100%;
                height: 100%;
                border-radius: 100%;
                object-fit: cover;
                object-position: center;
                z-index: 0;
            }
        }
    }
}

@media (max-width: 1600px){
    .brandlab{
        .front{
            .brandlab-video{
                width: 800px;
                height: 800px;
                .video-circle{
                    width: 1000px;
                    height: 1000px;
                }
            }
        }
    }
}
@media (max-width: 1500px){
    .brandlab{
        .brandlab-background{
            .brandlab-circle{
                .brandlab-circle-center{
                    margin-top: 5%;
                }
            }
        }
        .front{
            .texts{
                padding-left: 50px;
                p{
                    max-width: 730px;
                    font-size: 24px;
                }
            }
            .brandlab-video{
                width: 700px;
                height: 700px;
                .video-circle{
                    width: 800px;
                    height: 800px;
                }
            }
        }
    } 
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
@media (max-width: 1799px){
    .brandlab{
        .front{
            padding-left: 50px;
            padding-right: 50px;
            .texts{
                h2{
                    font-size: 200px;
                }
            }
        }
    
    }
}
@media (max-width: 1500px){
    .brandlab{
        margin-top: -10%;
    }
}

@media (max-width: 1399px){
    .brandlab{
        .front{
            margin-bottom: 35%;
            padding-right: 50px;
            .texts{
                h2{
                    font-size: 200px;
                }
            }
            .brandlab-video{
                width: 600px;
                height: 600px;
                .video-circle{
                    width: 700px;
                    height: 700px;
                }
            }
        }
        .brandlab-background{
            width: 2000px;
            height: 2000px;
            .brandlab-circle{
                width: 1350px;
                height: 1350px;
                margin-bottom: 5%;
                .brandlab-circle-center{
                    width: 900px;
                    height: 900px;
                }
            }
        }
    } 
}
@media (max-width: 1300px){
    .brandlab{
        margin-top: 100px;
        .front{
            padding-right: 50px;
            margin-bottom: 45%;
            .texts{
                h2{
                    font-size: 182px;
                }
                p{
                    max-width: 600px;
                    font-size: 22px;
                }
                h3{
                    max-width: 600px;
                    font-size: 20px;
                }
            }
            .brandlab-video{
                width: 600px;
                height: 600px;
                .video-circle{
                    width: 700px;
                    height: 700px;
                }
            }
        }
    } 
}