.brandlab {
    width: 100vw;
    height: 200vh;
    display: flex;
    overflow: hidden;
    background-color: var(--bg-color-primary);
    justify-content: center;
    z-index: 1;
    align-items: center;
    pointer-events: none;


    .brandlab-circle {
        background-color: var(--bg-color-four);
        border-radius: 100%;
        width: 1749px;
        height: 1749px;
        margin-bottom: -110vh;
        display: flex;
        z-index: 2;
        justify-content: center;
        align-items: center;
    }

    #brandlab {
        position: absolute;
        width: 100px;
        height: 100px;
        margin-top: -100vh;
        pointer-events: none;
    }

    .ball{
        display: none;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        background-color: var(--bg-color-secondary);
        border-radius: 100%;
        position: absolute;
        z-index: 8;
        margin-top: -100vh;
        overflow: hidden;
        transition: background-color 1150ms ease-in-out;
    }

    .ball-content{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100vh;
    }

    .front {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;

        .texts {
            z-index: 4;
            position: absolute;
            margin-right: 42vw;
            margin-left: 56px;
            margin-top: 100px;
            color: white;

            p {
                max-width: 900px;
                margin-right: 50px;
            }

            h3 {
                margin-top: 30px;
                font-family: var(--font-secondary);
                font-weight: 700;
                font-size: 25px;
                line-height: 39px;
                max-width: 709px;
            }

            .brands{
                max-width: 900px;
                margin-top: 37px;
                display: flex;
                position: absolute;
                gap: 20px;

                .brand{
                    width: 100%;
                    height: 100%;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }

        .brandlab-video {
            width: 886px;
            height: 886px;
            position: absolute;
            margin-left: 48vw;
            margin-top: 5vh;
            z-index: 3;

            .video-circle-top {
                display: none;
                width: 1242.7px;
                height: 1242.7px;
                border-radius: 100%;
                border: 1px solid var(--bg-color-four);
                z-index: 1;
                position: absolute;
                top: -35vh;
                box-shadow: 0px 3.2260401248931885px 75.81194305419922px 8.065099716186523px rgba(0, 0, 0, 0.50);
                animation: decrease 1s ease-in-out forwards;
            }

            .video-circle {
                display: none;
                width: 892px;
                height: 892px;
                border-radius: 100%;
                border: 1px solid var(--bg-color-four);
                z-index: 1;
                position: absolute;
                margin-left: -5%;
                box-shadow: 0px 3.2260401248931885px 75.81194305419922px 8.065099716186523px rgba(0, 0, 0, 0.50);
                animation: decrease 1s ease-in-out forwards;
            }

            video {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                object-fit: cover;
                object-position: center;
                z-index: 0;
            }
        }
    }
}

@keyframes decrease {
    from {
        transform: scale(3);
    }

    to {
        transform: scale(1);
    }
}


@media(max-width: 1600px){
    .brandlab{
        .brandlab-circle{
            width: 1500px;
            height: 1500px;
        }
        .front{
            .texts{
                margin-right: 35vw;
            }
            .brandlab-video {
                width: 786px;
                height: 786px;
                .video-circle-top {
                    width: 1000px;
                    height: 1000px;
                }
                .video-circle {
                    width: 792px;
                    height: 792px;
                }
            }
        }
    }
}
@media(max-width: 1480px){
    .brandlab{
        .front{
            .texts{
                margin-right: 25vw;
            }
        }
    }
}
@media (max-width: 1400px) and (max-height: 940px){
    .brandlab{
        .brandlab-circle{
            margin-top: 20vh;
            width: 1300px;
            height: 1300px;
        }
        .front{
            margin-bottom: -5vh;
            .texts{
                margin-right: 23vw;
            }
            .brandlab-video {
                width: 600px;
                height: 600px;
                .video-circle-top {
                    top: -15vh;
                    width: 670px;
                    height: 670px;
                }
                .video-circle {
                    width: 612px;
                    height: 612px;
                }
            }
        }
    }
}