.collaborators {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50vh;

    .text {
        width: 100%;
        height: 100%;
        margin-left: 56px;
        display: flex;
        justify-content: center;
        align-items: left;
        color: white;
        flex-direction: column;

        .button {
            cursor: pointer;
        }

        h2 {
            font-size: 252px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        p {
            font-family: var(--font-secondary);
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 47px;
            letter-spacing: 1.32px;
            max-width: 725px;
        }
    }

    .background {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        pointer-events: none;

        .collaborators-circle {
            width: 1473px;
            height: 1473px;
            border-radius: 100%;
            border: 1px solid white;
            position: absolute;
            margin-top: -100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .collaborators-circle-center {
                width: 800.36px;
                height: 800.36px;
                border-radius: 100%;
                border: 1px solid white;
                margin-top: -20%;
                margin-left: 22%;
            }
        }
    }

    .modal-collaborators {
        width: 100%;
        height: 100%;
        opacity: 0.949999988079071;
        background: #151515;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 54px;
        align-items: center;
        gap: 56px;
        transform: translateX(-100%);
        transition: 1s;
        top: 0;
        position: fixed;

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            margin-top: 54px;
            border-radius: 100%;
            background-color: black;
            cursor: pointer;
        }

        &.active {
            transform: translateX(0%);
        }

        .names {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            margin-top: 0;
            margin-bottom: 50px;

            .collaborator {
                display: flex;
                color: white;

                .name {
                    font-family: var(--font-secondary);
                    font-size: 29px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 50px;
                    margin-left: 24px;
                }

                .function {
                    text-align: right;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 50px;
                }
            }
        }
    }
}